@import url(./src/css/header.css);
@import url(./src/css/card.css);

@import url(./src/css/whoGame.css);
@import url(./src/css/pokedex.css);

@import url(./src/css/modal.css);
:root {
    /* Paleta de colores */
    --bodybackgroundcolor: #f4f4f4;
    --background-color: #f4f4f4;

    --primary-color: #42b883;
    --primary-color-hover: #339a6d;

    --secondary-color: #347474;
    --secondary-color-hover: #2b5d5d;

    --white-color: #fff;

    /* Tipografía */
    --font-color: #333;
    --font-colorHover: #afafaf;
    --font-color-light: #666;
    --font-color-p: #333;

    /* Bordes y sombras */
    --std-borderRadius: 10px;
    --btn-borderRadius: 25px;
    --std-borderColor: rgba(70, 62, 62, 0.2);
    --std-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    --hover-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    background-color: var(--background-color);
    color: var(--font-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}