#pokemonFinder {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color:var(--std--backgroundColor);
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box-shadow);
}

#pokemonFinder h2 {
    margin: 10px;
    font-size: 33px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.5px;
    color: var(--primary-color);
    -webkit-text-stroke: 1px rgba(99, 224, 15, 0.808);
}

.input-container {
    margin: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#pokemonNumber {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#searchButton img{
    width: 20px;
    height: 20px;
}

#searchButton:hover {
    background-color: #45a049;
}

#resultContainer {
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
}


.error-message {
    color: red;
    font-weight: bold;
}