#pokedex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    background-color:var(--std--backgroundColor);
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box-shadow);
}

/* Contenedor general para filtros y botones */
.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

/* Estilo del input de búsqueda */
.filters input {
    width: 300px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--std-borderColor);
}

.filters input:focus {
    border-color: var(--primary-color);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Contenedor de los botones de tipo */
#type-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    
}

/* Estilo de los botones de tipo y botón "Ver Todos" */
#type-buttons button, #show-all {
    width: auto;
    min-width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    text-wrap: nowrap;
    text-align: center;

    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    border: 2px solid var(--std-borderColor);
}

#type-buttons button:hover, #show-all:hover {
    border: 2px solid var(--std-borderColor);
    border-color: var(--primary-color);

    background-color: #e0e0e0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
#type-buttons button.active {
    border: 2px solid var(--primary-color);
}

#show-all{
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 5px;
}

/* Estilo del contenedor de tarjetas de Pokémon */
#card-container {
    width: 95%;

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
}