/* Estilo de la sección del juego */
#whoGame {
    width: 100%;
    max-width: 600px;
    height: auto;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url(../img/whoGame_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#whoGame h2 {
    font-size: 30px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilo del contenedor */
#pokemon-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
}

/* Estilo de la imagen del Pokémon */
.pokemon-image {
    width: 200px;
    height: auto;
    filter: brightness(0);
    transition: filter 0.5s ease, transform 0.5s;
}

.pokemon-image.revealed {
    transform: scale(1.1);
}

/* Estilo del temporizador */
#timer-display {
    width: 75px;
    height: 50px;
    border-radius: var(--std-borderRadius);
    font-size: 1.5em;
    margin: 15px 0;
    color: #e63946;

    background-image: url(../img/displayBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de los botones de opción */
.options-container {
    margin-top: 20px;
}

.option-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    z-index: 1;
}

.option-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Estilo de los mensajes de retroalimentación */
.feedback-message {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.feedback-message.correct {
    color: #2ecc71;
}

.feedback-message.incorrect {
    color: #e74c3c;
}



